deb https://packagecloud.io/tsuru/stable/{{ ansible_distribution | lower }}/ {{ ansible_distribution_release }} main
deb-src https://packagecloud.io/tsuru/stable/{{ ansible_distribution | lower }}/ {{ ansible_distribution_release }} main
